.home-container {
    row-gap: 7rem;
}

.home_content {
    grid-template-columns: 520px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home-title {
    font-family: var(--title-font-familiy);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-bottom: 10rem;
}

.home-title b {
    color: transparent;
    background: linear-gradient(to right, #ff00cc, #443fde);
    -webkit-background-clip: text;
    background-clip: text;
}

.home_img {
    height: 500px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 992px) {
    .home_content {
        grid-template-columns: 440px repeat(2, 1fr);
        column-gap: 1.5rem;
    }
}