.home-container {
    row-gap: 7rem;

}

.home_content {
    grid-template-columns: 520px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;    
}

.home-title {
    font-family: var(--title-font-familiy);
    font-weight: var(--title-font-weight);
    font-size: var(--title-font-size);
    margin-bottom: 10rem;
}

.home_img {
    height: 500px;
    display: flex;
    align-items: flex-end;
}