@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600;700;800&family=Inter:wght@200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&family=Roboto:wght@300;400;500;700&display=swap');

:root {
  /* Colors */
  --background-color: #fff;
  --header_footer_color: #f4f4f4;
  --primary-color: #443fde;
  --secondary-color: #ff00cc;
  --textcolor: #030407;
  --links-color: #ddd;
  --nav-links-color: #3e404c;

  /* Font sizes */
  /* --extra-large-title-font-size:54px; */
  --title-font-size:40px;
  --sub-title-font-size: 24px;
  --links-font-size: 11px;
  --text-font-size: 14px;
  --nav-links-font-size: 14px;

  /* Font Family */
  --title-font-familiy: Roboto, "roboto-bold";
  --nav-links-font-family: Inter, "poppins";
  --links-font-family: Poppins, "roboto";
  --text-font-family: Poppins, "poppins";

  /* Font Weight */
  --title-font-weight: 700;
  --nav-links-font-weight: 500;
  --links-font-weight: 500;
  --text-font-weight: 400;
  --thin-font-weight:300;
}

a {
  text-decoration: none !important;
  color: var(--nav-links-color);
}

a:hover {
  opacity: 0.5;
}

a.active {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;

  /* align-items: center; */
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 6rem 0 2rem;
}