@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');

:root {
  /* Colors */
  --background-color: #fff;
  --primary-color: #443fde;
  --textcolor: #030407;
  --links-color: #ddd;
  --nav-links-color: #3e404c;

  /* Font sizes */
  --title-font-size: 38px;
  --links-font-size: 14px;
  --text-font-size: 16px;
  --nav-links-font-size: 16px;

  /* Font Family */
  --title-font-familiy: Archivo, "sans-serif";
  --nav-links-font-family: Inter, "sans-serif";
  --links-font-family: Poppins, "sans-serif";
  --text-font-family: Poppins, "sans-serif";

  /* Font Weight */
  --title-font-weight: 700;
  --nav-links-font-weight: 500;
  --links-font-weight: 500;
  --text-font-weight: 400;
}

a {
  text-decoration: none !important;
  color: var(--nav-links-color);
}

a:hover {
  opacity: 0.5;
}

a.active {
  color: var(--primary-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 6rem 0 2rem;
}